{% if items|length > 0 %}
  <div class="{{ classes }}"{{ attributes }}>
    {% if label is not defined %}
      <div class="field-label"{{ title_attributes }}>{{ label }}:&nbsp;</div>
    {% endif %}
    <div class="field-items"{{ content_attributes }}>
      {% for item in delta %}
        <div class="field-item {% delta % 2 ? 'odd' : 'even' %}">
          {{ video }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
